
.background{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#quote-box{
    background: rgb(39, 39, 39);
    padding: 2rem 2rem 2rem 2rem;
}